<div class="row col-md-12">

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Información del Contacto</h4>
            </div>
            <div class="panel-body">
                <address>
                    <strong ng-bind="ctrlDetail.name"></strong><br>
                    <abbr title="Email">Email:</abbr>
                    <span ng-bind="ctrlDetail.email"></span>
                </address>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Teléfonos de Contacto</h4>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <input ng-model="search" class="form-control" placeholder="Buscar">
                        </div>
                        <div class="col-md-4">
                            <button type="button"
                                    class="btn btn-primary"
                                    ng-click="ctrlDetail.isCollapsed = !ctrlDetail.isCollapsed">
                                <i class="glyphicon glyphicon-plus"></i>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="clear">&nbsp;</div>

                <div uib-collapse="ctrlDetail.isCollapsed">
                    <phones-form contact="ctrlDetail.contact.data"
                                 phone="ctrlDetail.phone">
                    </phones-form>
                </div>

                <div class="clear">&nbsp;</div>

                <div style="height: 600px; overflow: hidden; overflow-y: scroll">
                    <div class="panel panel-default"
                         ng-repeat="phone in ctrlDetail.phones | filter: search track by $index">
                        <div class="panel-heading">

                            <div class="row">

                                <h4 class="col-md-8">Detalles</h4>

                                <div class="btn-group col-md-2 pull-right"
                                     uib-dropdown is-open="false">
                                    <button type="button"
                                            class="btn btn-default btn-xs"
                                            uib-dropdown-toggle
                                            uib-tooltip="Acciones"
                                            ng-disabled="disabled">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu"
                                        uib-dropdown-menu role="menu"
                                        aria-labelledby="single-button">
                                        <li>
                                            <a class="glyphicon glyphicon-edit"
                                               href="javascript:void(0)"
                                               ng-click="ctrlDetail.prepareUpdate($index)">
                                                Modificar
                                            </a>
                                        </li>
                                        <li>
                                            <a class="glyphicon glyphicon-trash"
                                               href="javascript:void(0)"
                                               ng-click="ctrlDetail.delete(phone.id)">
                                                Eliminar
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="panel-body">
                            <address>
                                <strong ng-bind="phone.attributes.name"></strong><br>
                                <abbr title="Teléfono">Tel:</abbr>
                                <span ng-bind="phone.attributes['phone-number']"></span>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>